setuptools==41.2.0
absl-py==0.10
astor==0.8.1
gast==0.3.3
grpcio==1.32.0
imageio==2.3.0
Markdown==2.6.11
mido==1.2.8
numpy==1.19.2
Pillow==7.1.0
pretty-midi==0.2.8
protobuf==3.12.2
pypianoroll==0.4.6
PyYAML==3.13
scipy==1.4.1
six==1.15.0
tensorboard==2.4
tensorflow-gpu==2.4.0
termcolor==1.1.0
Werkzeug==0.15
imgaug==0.2.5

